
.customNavLink {
    position: relative;
    color: white !important;
    margin: 8px 0;
}

.customNavLink::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease; 
}

.customNavLink:hover::before {
    width: 100%;
    transition-delay: 0.1s; 
}

.setPadding {
    padding-left: 10px;
    padding-right: 4px;
}

@media (max-width: 992px) {
    .centeredUl {
        color: white !important;
        margin: 8px 0;
        border-radius: 10px !important;
    }
}

@media (max-width: 992px) {
    .headerBackground {
        background: linear-gradient(to right, rgba(107, 105, 105, 0.32), rgba(56, 56, 56, 0.42));
        border-radius: 15px;
        margin-top: 10px;
    }
}

@media (max-width: 992px) {
    .resumeBtn, .customNavLink {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.42));
        border-radius: 5px !important;
        color: white;
        margin: 8px;
        padding-left: 10px;
    }

    .customNavLink {
        background:none !important;
    }
    
}

.resumeBtn{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.42));
    border-radius: 30px !important;
    color: white;
    margin-left: 20px;
    margin: 8px;
}

.resumeBtn:hover {
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.52));
}

.resumeBtn:focus {
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.52));
}