body {
    background:url(./background-1.jpeg)!important;
}

.custom-nav-link {
    position: relative;
    color: white !important;
}

.custom-nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;  /* Add transition for the width property */
}

.custom-nav-link:hover::before {
    width: 100%;
    transition-delay: 0.1s;  /* Optional: Add a delay to start the transition */
}


.centered-ul {
    justify-content: center;
    padding: 5px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.22));
    border-radius: 35px;
    width: 100%;
}

.resume-btn {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.42));
    border-radius: 30px !important;
    color: white;
    margin-left: 20px;
}

.resume-btn:hover {
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.52));
}

.resume-btn:focus {
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.52));
}

.header {
    width: 100%;
}