body {
    background:url(./background-1.jpeg)!important;
}

.hover_animation {
    position: relative;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 80px;
}

.normalText {
    color: transparent;
    -webkit-text-stroke: 1px rgba(255,255,255,0.6);
}

.h1_element {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-align: center;
    position: relative;
  }
  
  .h1_element::before,
  .h1_element::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease-out;
  }

  .h1_element:hover::before {
    color: black;
    text-shadow: rgba(255,255,255,0.6);
    transform: translate(14px, -14px);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    filter: drop-shadow(0 0 40px #1af7ff);
  }
  .h1_element:hover::after {
    color: white;
    transform: translate(18px, -18px);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    filter: drop-shadow(0 0 40px #1af7ff);
  }